<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landong Page</title>

    <link rel="stylesheet" href="../scss/all.css">
    <style>
        body {
            font-family: 'Noto Sans TC', sans-serif;
        }
    </style>
</head>

<body>
    <header class="header">
        <nav class="navbar navbar-expand-lg bg-white">
            <div class="container">
                <a class="navbar-brand fw-bold" href="#"><i class="bi bi-house-heart text-primary me-2"></i>找奴才</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">首頁</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">寵物認養</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">走失公告</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">預約時間</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">寵物講座</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-primary" href="#">預約時間</a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
        <div class="banner px-4 py-5 d-lg-flex justify-content-lg-center align-items-lg-center">
            <div class="text-white text-center px-4 py-2">
                <p class="fs-5">你是不是也有夢想</p>
                <h1 class="fw-bold">當個小奴才?</h1>
                <p>想皇上/皇后叫你丟垃圾、澆花、買飯，最好還可以叫你幫忙馬殺雞、玩玩具！<br>
                    很想有個皇上/皇后讓你討好，想把時間花在服侍陛下/皇后娘娘身上，<br>
                    來！就讓我們幫你實現願望^__^！
                </p>
            </div>
        </div>
    </header>
    

    <footer class="footer bg-light pt-5">
        <div class="container">
            <h2 class="text-center fw-bold mb-3">需要其他協助嗎？</h2>
            <div class="row row-cols-lg-3 row-cols-1 justify-content-center g-3">
                <div class="col-lg-3">
                    <div class="card border-0 shadow">
                        <div class="card-body text-center ">
                            <i class="bi bi-telephone-fill text-primary"></i>
                            <a href="tel:+886-7-555-666" class="text-decoration-none text-dark">07-555-666</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card border-0 shadow">
                        <div class="card-body text-center ">
                            <i class="bi bi-facebook text-primary"></i>
                            <a href="#" class="text-decoration-none text-dark">我就是個小奴才</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card border-0 shadow">
                        <div class="card-body text-center ">
                            <i class="bi bi-question-circle-fill  text-primary"></i>
                            <a href="#" class="text-decoration-none text-dark">常見問題</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-secondary py-3 mt-5">
            <p class="mb-0 text-white text-center">Copyright © 2023 招奴才.All rights reserved.</p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous">
        </script>
</body>

</html>