
.deco-line{
    position: relative;
    padding-left: 1rem;
    &::before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 3px;
        background-color: $primary;
    }
}